<% @page_title = 'Forgot Password' %>
<h1 class="span12 ribbon">forgot password?</h1>
<%= form_tag(:action => 'forgot_password') do %>
  <span class="form-forgot-password">
    <%= text_field_tag(:email, params[:email], :class => 'round', :placeholder => 'Email') %>
    <%= submit_tag('reset it!', :class => 'button') %>
  </span>
<% end %>