<% @page_title = 'Password Reset' %>
<h1 class="ribbon">password reset</h1>
<%= form_for(:user, :url => {:controller => 'pages', :action => 'password_reset', :id => params[:id]}) do |f| %>
  <span class="form-reset-password">
    <%= f.password_field(:password, :class => 'round', :placeholder => 'Password') %>
    <%= submit_tag('set it!', :class => 'button') %>
  </span>
<% end %>